% view.layout = 'layout';
<style>
@media (max-width: 600px) {
    .document-content {
      font-size: 2vw;
}
</style>
<main>
  <h1><%= number %></h1>
  <div class="document-container">
    <pre class="document-content"><%= content %></pre>
  </div>
</main>
